@import 'src/variables';

select{
   background-color: transparent;
   border: none;
   cursor: pointer;
   color: inherit;
   font-size: inherit;
   font-family: inherit;
}
option{
   color: $text-color-dark;
}