@import "src/variables.scss";

.footer {
  width: 100%;
  color: $text-color-dark;
  text-align: center;

  &__main {
    border-top: $line;
    // background-color: rgba($color: #000000, $alpha: .05);

    .default-container {
      @media (min-width: $breakpoint-desktop) {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
  }

  &__sub {
    font-size: 15px;
    background-color: $accent-color-light;

    .default-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}

li{
  padding-bottom: 0;
}
ul{
  margin-bottom: 0;
}

.social-media {
  padding-top: 40px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 100px;

  a {
    color: $text-color-dark;
    font-size: 1.2rem;
  }
  a:hover {
    color: $accent-color;
  }
  @media (min-width: $breakpoint-desktop) {
    padding-top: 0;
  }
}

.news-letter {
  text-align: left;

  &__input {
    width: 100%;
    display: flex;
    align-items: center;

    i {
      color: $accent-color;
      cursor: pointer;
      position: relative;
    }

    input {
      @media (min-width: $breakpoint-desktop) {
        min-width: 270px;
      }

      flex-grow: 1;
      font-family: inherit;
      border: none;
      border-bottom: .08pc solid $accent-color;
      background-color: transparent;
      &:focus {
        outline: none;
      }
      &::placeholder{
        font-size: .7rem;
      }
    }
  }
}
