<div class="footer">
  <div class="footer__main">
    <div class="default-container">
      <div class="news-letter">
        <label>{{'FOOTER.SUBSCRIBE_TO_NEWS_LETTER' | translate}}</label>
        <div class="news-letter__input">
          <input [(ngModel)]="email" type="email" placeholder="example@mail.be" />
          <i *ngIf="!isBusy" (click)="subscribe()" class="far fa-paper-plane"></i>
          <i *ngIf="isBusy" class="fas fa-circle-notch fa-spin"></i>
        </div>
      </div>
      <ul class="social-media">
        <li>
          <a href="https://www.facebook.com/revivevzw.be/" target="blank"><i class="fab fa-facebook-square"></i></a>
        </li>
        <li>
          <a href="https://www.instagram.com/revivevzw/" target="blank"><i class="fab fa-instagram"></i></a>
        </li>
        <li>
          <a href="https://www.youtube.com/channel/UCFFoFovvrqYtCX4fd5Klt5Q" target="blank"><i class="fab fa-youtube"></i></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer__sub">
    <div class="default-container">
      <app-language-selector></app-language-selector>
      <span>© Revive vzw | <a href="gdpr" class="url url--secondary">GDPR</a> | Made by <a class="url url--primary" href="https://www.linkedin.com/in/maarten-brysbaert" target="blank">Me</a></span>
    </div>
  </div>
</div>
