@import 'src/variables';

.form, .info{
   min-width: 50%;
   clear: both;
}
.form-field{
   display: block;
   width: 100%;
   margin-bottom: 15px;

   label{
      margin-bottom: 10px;
   }

   label, input, textarea{
      display: block;
      width: 100%;
   }
   input, textarea{
      outline: none;
      border: none;
      background-color: $accent-color-light;
      border-bottom: $accent-color 2px solid;
      border-radius: 2px;
      padding: 18px;      
      resize: vertical;
      box-sizing: border-box;
      @media (min-width: $breakpoint-desktop) {
         padding: 10px;
       }
   }
}

.button{
   margin-top: 20px;
   width: fit-content;
   float: right;
}

.button-container{
   display: flow-root;
}