@import 'src/variables.scss';

.news-bar{
   cursor: pointer;
   transition: .3s ease;
   width: 100%;
   background-color: $accent-color-light;
   color: $text-color-dark;
   font-weight: bold;
   box-sizing: border-box;
   font-size: 16px;
   padding: 20px;
   padding-bottom: 35px;

   &:hover{
      background-color: darken($accent-color-light, 10);
      // background-color: $accent-color-secondary-light;
   }

   a{
      height: 100%;
      width: 100%;
      position: absolute;;
      text-align: center;
      text-decoration: none;
      color: $text-color-dark;
      display: inline;
      // top: 25px;
      left: 0;

      span{
         text-decoration: underline;
         color: $accent-color;
      }
   }

   &__container{
      // overflow: hidden;
      // padding: 40px;
   }
}