@import 'src/variables.scss';

.news-bar{
   cursor: pointer;
   transition: .3s ease;
   width: 100%;
   background-color: $accent-color-light;
   color: $text-color-dark;
   font-weight: bold;
   display: flex;
   justify-content: center;
   overflow: hidden;
   box-sizing: border-box;
   height: 50px;
   align-items: center;
   font-size: 16px;

   &:hover{
      background-color: darken($accent-color-light, 10);
      // background-color: $accent-color-secondary-light;
   }

   a{
      position: relative;
      text-align: center;
      text-decoration: none;
      color: $text-color-dark;
      display: block;

      span{
         text-decoration: underline;
         color: $accent-color;
      }
   }

   &__container{
      overflow: hidden;
      padding: 2px;
   }
}