@import "src/variables.scss";
@import '~ngx-toastr/toastr';

html {
  font-family: "Quicksand", sans-serif;
  font-size: $text-size;
  color: $text-color-dark;
}

p {
  line-height: 1.3rem;
}

::selection {
  color: $text-color-dark;
  background-color: $accent-color-secondary;
}

.nav-spacer {
  margin-top: 150px;
}

.responsive-container {
  max-width: $container-mobile;
  margin: 0 auto;
  padding: 25px;
  box-sizing: border-box;

  @media (min-width: $breakpoint-desktop) {
    max-width: $container-desktop;
  }
}

.default-container {
  width: 100%;
  max-width: $container-desktop;
  margin: 0 auto;
  padding: 25px;
  box-sizing: border-box;
}

h2 {
  font-size: 2rem;
  line-height: 2.2rem;
}
h3 {
  font-size: 1rem;
  font-weight: lighter;
}
h4 {
  margin-bottom: 10px;
}

.header--scrolled {
  background-color: rgba(24, 55, 53, 1);
  // border-bottom: 1px solid rgb(0, 0, 0, 0.1);
}

.url {
  text-decoration: none;
  font-weight: bold;
  color: $accent-color;
  transition: all 0.2s ease;

  &--primary {
    &::after {
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      content: "\f30b";
      top: 2px;
      position: relative;
      left: 5px;
    }
    &:hover {
      color: $accent-color-secondary;
    }
  }
}

.text-block-centered {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}

.quote {
  padding: 50px;
  border-radius: 2px;
  background-color: $accent-color-light;
  //  border: 1px solid $accent-color;
  border-left: 3px solid $accent-color;
  box-sizing: border-box;
}

.content {
  padding-top: 100px;
  padding-bottom: 100px;
}

strong {
  color: $accent-color-dark;
  background-color: $accent-color-light;
  // background-color: $accent-color-secondary-light;
}

ul {
  list-style-type: none;
}

li {
  padding-bottom: 20px;
}

.responsive-columns {
  .column{
    margin-bottom: 30px;
  }
  @media (min-width: $breakpoint-desktop) {
    display: flex;
    justify-content: space-between;
    .column {
      margin-bottom: 0;
      margin-right: 40px;
    }
    .column:last-of-type {
      margin-right: 0;
    }
  }
}
