@import 'src/variables';

.subtitle{
   margin-top: 6px;
   margin-bottom: 12px;
   line-height: 1.2rem;
 }
 .section{
    padding: 25px 0;
    &--background {
      background-color: $light-gray;
    }
    &--borders{
      border-top: $line;
      border-bottom: $line;
    }
 }