<div class="header">
  <div class="header__content">
    <div class="responsive-container container">
      <div class="header__intro">
        <div class="header__intro__content">
          <h1>{{ "HOME.HEAD_TITLE" | translate }}</h1>
          <h3 [innerHTML]="'HOME.HEAD_SUBTITLE' | translate"></h3>
          <div class="call-to-actions__container">
            <button class="btn btn-primary" (click)="ctaAction()">{{ 'HOME.CTA_LEARN_MORE' | translate }}</button>
            <button *ngIf="currentLanguage == 'nl-BE'" class="btn btn-outline-light shop" (click)="redirectToSponsoring()">{{'SHARED.SHOP' | translate}}</button>
          </div>
        </div>
        <div class="header__intro__media">
            <ngb-carousel interval="3000" [showNavigationArrows]="false" [showNavigationIndicators]="false">
              <ng-template ngbSlide *ngFor="let item of $carrouselItems | async">
                <div class="carousel-image-container">
                  <img *ngIf="!item.isEmbededYoutubeUrl" [src]="item.url" [alt]="item.titel">
                </div>
                <iframe *ngIf="item.isEmbededYoutubeUrl" id="player" type="text/html" width="640" height="390" [src]="item.url" allowfullscreen frameborder="0"></iframe>
                <div class="carousel-caption">
                  <h3>{{item.titel}}</h3>
                </div>
              </ng-template>
            </ngb-carousel>
        </div>
      </div>
    </div>
  </div>
</div>

<app-home-section titleKey="Laatste berichten">
  <div class="news-item__items d-flex mt-4">
    <div class="news-item__item" *ngFor="let newsItem of newsItems">
      <p class="mb-4">{{localize(newsItem.title)}}</p>
      <!-- <div class="action"> -->
        <a class="url url--primary" [href]="newsItem.url">Meer info</a>
      <!-- </div> -->
    </div>
  </div>
</app-home-section>

<app-home-section hasBackground titleKey="HOME.ABOUT_TITLE" subtitleKey="HOME.ABOUT_SUBTITLE">
  <div class="key-values__items">
    <div class="key-values__item">
      <div class="key-values__item__image key-values__item__image--image1"></div>
      <h4>{{ "HOME.KEY_VALUE_1_TITLE" | translate }}</h4>
      <p>{{ "HOME.KEY_VALUE_1_DESCRIPTION" | translate }}</p>
    </div>
    <div class="key-values__item">
      <div class="key-values__item__image key-values__item__image--image3"></div>
      <h4>{{ "HOME.KEY_VALUE_3_TITLE" | translate }}</h4>
      <p>{{ "HOME.KEY_VALUE_3_DESCRIPTION" | translate }}</p>
    </div>
    <div class="key-values__item">
      <div class="key-values__item__image key-values__item__image--image2"></div>
      <h4>{{ "HOME.KEY_VALUE_2_TITLE" | translate }}</h4>
      <p>{{ "HOME.KEY_VALUE_2_DESCRIPTION" | translate }}</p>
    </div>
  </div>
</app-home-section>

<app-home-section titleKey="HOME.MISSION_TITLE" subtitleKey="HOME.MISSION_SUBTITLE" path="missions">
  <p class="content">{{'HOME.MISSION_TEXT' | translate}}</p>
  <div class="row m-0">
    <div class="btn-group mb-2 mr-2">
      <a href="/missions/type/0" class="btn btn-outline-primary border-right-0">{{'PLANNED_MISSIONS' | translate}}</a>
      <a href="/missions/type/2" class="btn btn-outline-primary">{{'PAST_MISSIONS' | translate}}</a>
    </div>
    <div class="btn-group mb-2">
      <a href="/missions/type/1" class="btn btn-outline-primary border-right-0">{{'PLANNED_SCOUTINGS' | translate}}</a>
      <a href="/missions/type/3" class="btn btn-outline-primary">{{'PAST_SCOUTINGS' | translate}}</a>
    </div>
  </div>
</app-home-section>

<app-home-section hasBackground titleKey="HOME.SUPPORT_US_TITLE" subtitleKey="HOME.SUPPORT_US_SUBTITLE">
  <button class="btn btn-primary" (click)="redirectToShop()">{{ 'NAVIGATION.SUPPORT_US' | translate }}</button>
  <!-- <app-call-to-action text='{{ "NAVIGATION.SUPPORT_US" | translate}}' [action]="supportUs"></app-call-to-action> -->
</app-home-section>

<app-home-section titleKey="HOME.CALENDAR_TITLE" subtitleKey="HOME.CALENDAR_SUBTITLE">
  <div class="btn-group">
    <a href="/calendar/past" class="btn btn-outline-primary border-right-0">{{'PAST_EVENTS' | translate}}</a>
    <a href="/calendar/upcoming" class="btn btn-outline-primary">{{'PLANNED_EVENTS' | translate}}</a>
  </div>
</app-home-section> 

<app-home-section hasBackground titleKey="HOME.VOLUNTEERS_TITLE" subtitleKey="HOME.VOLUNTEERS_SUBTITLE" actionTitleKey="HOME.VOLUNTEERS_ACTION" path="volunteers">
  <!-- <p class="content">{{'HOME.VOLUNTEERS_TEXT' | translate}}</p> -->
</app-home-section>

<app-home-section hasBorders titleKey="HOME.SPONSORS_TITLE" subtitleKey="HOME.SPONSORS_SUBTITLE" actionTitleKey="HOME.SPONSORS_ACTION" path="sponsors" align="center">
  <div class="sponsors content">
    <!-- <carousel [images]="images"></carousel> -->
    <carousel *ngIf="sponsors && loaded" autoplay="true" loop="true" autoplayInterval="1500">
      <a [href]="sponsor.websiteUrl" target="blank" *ngFor="let sponsor of sponsors" class="carousel-cell">
          <img [src]="sponsor.logoUrl">
      </a>
    </carousel>
  </div>
</app-home-section>

<app-home-section titleKey="HOME.CONTACT_TITLE" subtitleKey="HOME.CONTACT_SUBTITLE" actionTitleKey="HOME.CONTACT_ACTION" path="contact">
  <!-- {{'HOME.CONTACT_TEXT' | translate}} -->
</app-home-section>
