<div class="header">
  <div class="header__background">
    <div class="header__background__level_one"></div>
    <div class="header__background__level_two"></div>
  </div>

  <div class="header__content">
    <div class="responsive-container container">
      <div class="header__intro">
        <div class="header__intro__content">
          <h1>Belgian Medical Missions</h1>
          <h3>{{ "HOME.HEAD_SUBTITLE" | translate }}</h3>
          <app-call-to-action class="call-to-action" [action]="ctaAction" text="{{ 'HOME.CTA_LEARN_MORE' | translate }}"></app-call-to-action>
        </div>
        <div class="header__intro__media">
        </div>
      </div>
    </div>
  </div>
</div>

<app-home-section titleKey="HOME.ABOUT_TITLE" subtitleKey="HOME.ABOUT_SUBTITLE" actionTitleKey="HOME.ABOUT_ACTION" path="about">
  <div class="key-values__items content">
    <div class="key-values__item">
      <div class="key-values__item__image key-values__item__image--image1"></div>
      <h4>{{ "HOME.KEY_VALUE_1_TITLE" | translate }}</h4>
      <p>{{ "HOME.KEY_VALUE_1_DESCRIPTION" | translate }}</p>
    </div>
    <div class="key-values__item">
      <div class="key-values__item__image key-values__item__image--image2"></div>
      <h4>{{ "HOME.KEY_VALUE_2_TITLE" | translate }}</h4>
      <p>{{ "HOME.KEY_VALUE_2_DESCRIPTION" | translate }}</p>
    </div>
    <div class="key-values__item">
      <div class="key-values__item__image key-values__item__image--image3"></div>
      <h4>{{ "HOME.KEY_VALUE_3_TITLE" | translate }}</h4>
      <p>{{ "HOME.KEY_VALUE_3_DESCRIPTION" | translate }}</p>
    </div>
  </div>
</app-home-section>

<app-home-section hasBackground titleKey="HOME.MISSION_TITLE" subtitleKey="HOME.MISSION_SUBTITLE" actionTitleKey="HOME.MISSION_ACTION" path="missions">
  <p class="content">{{'HOME.MISSION_TEXT' | translate}}</p>
</app-home-section>

<app-home-section titleKey="HOME.CALENDAR_TITLE" subtitleKey="HOME.CALENDAR_SUBTITLE" actionTitleKey="HOME.CALENDAR_ACTION" path="calendar">
  <!-- <p class="content">{{'HOME.CALENDAR_TEXT' | translate}}</p> -->
</app-home-section>

<app-home-section hasBackground titleKey="HOME.VOLUNTEERS_TITLE" subtitleKey="HOME.VOLUNTEERS_SUBTITLE" actionTitleKey="HOME.VOLUNTEERS_ACTION" path="volunteers">
  <!-- <p class="content">{{'HOME.VOLUNTEERS_TEXT' | translate}}</p> -->
</app-home-section>

<app-home-section titleKey="HOME.SPONSORS_TITLE" subtitleKey="HOME.SPONSORS_SUBTITLE" actionTitleKey="HOME.SPONSORS_ACTION" path="sponsors" align="center">
  <div class="sponsors content">
    <!-- <carousel [images]="images"></carousel> -->
    <carousel *ngIf="sponsors && loaded" autoplay="true" loop="true" autoplayInterval="1000">
      <a [href]="sponsor.websiteUrl" target="blank" *ngFor="let sponsor of sponsors" class="carousel-cell">
          <img [src]="sponsor.logoUrl">
      </a>
    </carousel>
  </div>
</app-home-section>

<app-home-section hasBackground titleKey="HOME.CONTACT_TITLE" subtitleKey="HOME.CONTACT_SUBTITLE" actionTitleKey="HOME.CONTACT_ACTION" path="contact">
  <!-- {{'HOME.CONTACT_TEXT' | translate}} -->
</app-home-section>
