@import 'src/variables';

.about{
   color: $text-color-dark;
   &__intro{
      margin: 0 auto;
      max-width: 600px;
      margin-bottom: 50px;
   }
   &__block{
      margin: 0 auto;
      max-width: 600px;
      margin-bottom: 50px;
      text-align: justify;
   }
}