<nav [ngClass]="navigationIsOpen ? 'navigation navigation--open' : 'navigation navigation--closed'">
   <div class="default-container container">
      <!-- <h1><a href="/"><img src="assets/media/logo.png" alt="Logo Revive vzw"><span>REVIVEvzw</span></a></h1> -->
      <h1 class="m-0"><a href="/"><img src="assets/media/LOGO_wit.png" title="home" alt="Logo Revive vzw"><span class="ml-3">Home</span></a></h1>
      
      <div class="right">
         <app-language-selector></app-language-selector>
         <div class="burger" (click)="toggleNavigation()">
            <div class="menu-stripe menu-stripe--one"></div>
            <div class="menu-stripe menu-stripe--two"></div>
            <div class="menu-stripe menu-stripe--three"></div>
         </div>      
      </div>
   </div>
   <div class="links">
      <ul class="default-container">
         <li><a href="about">{{ "NAVIGATION.ABOUT" | translate }}</a></li>
         <li><a href="missions/type/2">{{ "NAVIGATION.MISSIONS" | translate }}</a></li>
         <li><a href="calendar/upcoming">{{ "NAVIGATION.CALENDAR" | translate }}</a></li>
         <li><a href="volunteers">{{ "NAVIGATION.VOLUNTEERS" | translate }}</a></li>
         <li><a href="sponsors">{{ "NAVIGATION.SPONSORS" | translate }}</a></li>
         <li><a href="contact">{{ "NAVIGATION.CONTACT" | translate }}</a></li>
         <!-- <li><app-call-to-action text='{{ "NAVIGATION.SUPPORT_US" | translate}}' [action]="ctaAction"></app-call-to-action></li> -->
         <li><button class="btn btn-primary" (click)="ctaAction()">{{'NAVIGATION.SUPPORT_US' | translate}}</button></li>
      </ul>   
   </div>
</nav>
<div class="spacer"></div>