@import "src/variables.scss";
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

@import '~ngx-toastr/toastr';

html, body {
  font-family: "Quicksand", sans-serif;
  font-size: $text-size;
  color: $text-color-dark;
}

p {
  line-height: 1.3rem;
}

a:hover{
  text-decoration: none;
}

::selection {
  color: $text-color-dark;
  background-color: $accent-color-secondary;
}

.nav-spacer {
  margin-top: 150px;
}

.responsive-container {
  max-width: $container-mobile;
  margin: 0 auto;
  padding: 25px;
  box-sizing: border-box;

  @media (min-width: $breakpoint-desktop) {
    max-width: $container-desktop;
  }
}

.default-container {
  width: 100%;
  max-width: $container-desktop;
  margin: 0 auto;
  padding: 25px;
  box-sizing: border-box;
}

h1{
  font-weight: bold;
}

h2 {
  font-size: 2rem;
  line-height: 2.2rem;
  font-weight: bold;
}
h3 {
  font-size: 1rem;
  font-weight: lighter;
}
h4 {
  margin-bottom: 10px;
  font-size: 1rem;
}

b{
  font-weight: bold;
}

.header--scrolled {
  background-color: rgba(24, 55, 53, 1);
  // border-bottom: 1px solid rgb(0, 0, 0, 0.1);
}

.url {
  text-decoration: none;
  font-weight: bold;
  color: $accent-color;
  transition: all 0.2s ease;

  &--primary {
    &::after {
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      content: "\f30b";
      top: 2px;
      position: relative;
      left: 5px;
    }
    &:hover {
      color: $accent-color-secondary;
    }
  }
}

.text-block-centered {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}

.quote {
  padding: 50px;
  border-radius: $border-radius;
  background-color: $accent-color-light;
  //  border: 1px solid $accent-color;
  border-left: 3px solid $accent-color;
  box-sizing: border-box;
}

.content {
  padding-top: 20px;
  padding-bottom: 50px;
}

strong {
  color: $accent-color-dark;
  background-color: $accent-color-light;
  // background-color: $accent-color-secondary-light;
}

ul {
  list-style-type: none;
}

li {
  padding-bottom: 20px;
}

.responsive-columns {
  .column{
    margin-bottom: 30px;
  }
  @media (min-width: $breakpoint-desktop) {
    display: flex;
    justify-content: space-between;
    .column {
      margin-bottom: 0;
      margin-right: 40px;
    }
    .column:last-of-type {
      margin-right: 0;
    }
  }
}

.btn{
  font-weight: bold;
  border-radius: 2px;
  font-size: .8rem;
  padding: 15px 20px;

  &-primary{
    color: $text-color-dark;
  }
}

// .btn{
//   // transition: .3s all ease-out;
//   // display: block;
//   border: none;
//   // padding: 20px 30px;
//   font-weight: bold;
//   border-radius: 2px;
//   border: 2px solid $accent-color;
//   // cursor: pointer;

//   &--primary{
//     background-color: $accent-color;
//   }

//   &--secondary{
//     color: $accent-color;
//     background-color: transparent;
//     box-sizing: content-box;

//     &:hover{
//       background-color: $accent-color;
//       color: $text-color-dark;
//     }
//   }

//   &--default{
//     border: 2px solid white;
//     color: white;
//     background-color: transparent;
//     box-sizing: content-box;

//     &:hover{
//       background-color: white;
//       color: $text-color-dark;
//     }
//   }

//   button:enabled:hover{
//     opacity: .6;
//     cursor: pointer;
//   }

  // @media (min-width: $breakpoint-desktop) {
  //   padding: 15px 25px;
  // }
// }
