@import 'src/variables';

.header_secondary{
   text-align: left;
}

.volunteers{
   padding-bottom: 100px;
   padding-top: 50px;
   color: $text-color-dark;

   &__intro{
      margin-bottom: 80px;
   }
}

.volunteer-block{
   @media (min-width: $breakpoint-desktop) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &--reverse{
         flex-direction: row-reverse;
      }
    }

   &__image{
      @media (min-width: $breakpoint-desktop) {
         width: 40%;
      }
      height: 260px;
      background-color: $accent-color-light;
      border-radius: 2px;
   }
   &__content{
      padding-top: 20px;
      padding-bottom: 60px;

      @media (min-width: $breakpoint-desktop) {
         width: 40%;
         padding: 0;
      }
      h4{
         margin-bottom: 15px;
      }
      a{
         display: inline-block;
         margin-top: 15px;
      }
   }
}