<app-main-page-base [title]="'VOLUNTEERS.TITLE' | translate">
  <div class="intro quote">
    <p>{{ 'VOLUNTEERS.INTRO' | translate }}</p>
  </div>

  <div class="volunteer-block">
    <div class="volunteer-block__image"></div>
    <div class="volunteer-block__content">
      <h4>{{'VOLUNTEERS.BLOCK_1_TITLE' | translate}}</h4>
      <p>{{'VOLUNTEERS.BLOCK_1_TEXT' | translate}}</p>
      <a href="contact" class="url url--primary">{{'VOLUNTEERS.BLOCK_1_CTA' | translate}} </a>
    </div>
  </div>
  
  <div class="volunteer-block volunteer-block--reverse">
    <div class="volunteer-block__image"></div>
    <div class="volunteer-block__content">
      <h4>{{'VOLUNTEERS.BLOCK_2_TITLE' | translate}}</h4>
      <p>{{'VOLUNTEERS.BLOCK_2_TEXT' | translate}}</p>
      <a href="contact" class="url url--primary">{{'VOLUNTEERS.BLOCK_2_CTA' | translate}} </a>
    </div>
  </div>

  <!-- <div class="volunteer-block">
    <div class="volunteer-block__image"></div>
    <div class="volunteer-block__content">
      <h4>{{'VOLUNTEERS.BLOCK_3_TITLE' | translate}}</h4>
      <p>{{'VOLUNTEERS.BLOCK_3_TEXT' | translate}}</p>
      <a href="" class="url url--primary">{{'VOLUNTEERS.BLOCK_3_CTA' | translate}} </a>
    </div>
  </div> -->
</app-main-page-base>