<div class="header_secondary">
   <div class="responsive-container">
     <div class="header_secondary__title">
       Learn more about our volunteers and become one yourself!
     </div>
   </div>
 </div>
<div class="volunteers">
  <div class="responsive-container">
    <div class="volunteers__intro text-block-centered">
      <p>{{ 'VOLUNTEERS.INTRO' | translate }}</p>
    </div>

    <div class="volunteer-block">
      <div class="volunteer-block__image"></div>
      <div class="volunteer-block__content">
        <h4>Become a volunteer for international missions</h4>
        <p>
          Do you have the right skills to help people in an international
          mission? We can't wait to hear about it.
        </p>
        <a href="" class="url url--primary">Contact us </a>
      </div>
    </div>
    
    <div class="volunteer-block volunteer-block--reverse">
      <div class="volunteer-block__image"></div>
      <div class="volunteer-block__content">
        <h4>Become a volunteer for international missions</h4>
        <p>
          Do you have the right skills to help people in an international
          mission? We can't wait to hear about it.
        </p>
        <a href="" class="url url--primary">Say hi! </a>
      </div>
    </div>

    <div class="volunteer-block">
      <div class="volunteer-block__image"></div>
      <div class="volunteer-block__content">
        <h4>Become a volunteer for international missions</h4>
        <p>
          Do you have the right skills to help people in an international
          mission? We can't wait to hear about it.
        </p>
        <a href="" class="url url--primary">Get in touch! </a>
      </div>
    </div>
  </div>
</div>
