<nav>
   <div class="container">
      <h1><a href="/"><img src="assets/media/logo.png" alt="Logo Revive vzw"><span>Revive vzw</span></a></h1>
      <ul>
         <li><a href="about">{{ "NAVIGATION.ABOUT" | translate }}</a></li>
         <li><a href="missions">{{ "NAVIGATION.MISSIONS" | translate }}</a></li>
         <li><a href="calendar">{{ "NAVIGATION.CALENDAR" | translate }}</a></li>
         <li><a href="volunteers">{{ "NAVIGATION.VOLUNTEERS" | translate }}</a></li>
         <li><a href="sponsors">{{ "NAVIGATION.SPONSORS" | translate }}</a></li>
         <li><app-language-selector></app-language-selector></li>
         <li>call to action button</li>
      </ul>   
   </div>
</nav>
<div class="spacer"></div>