@import 'src/variables';

.year{
   h2{
      padding-bottom: 10px;
      margin-top: 30px;
      border-bottom: $line;
   }
   .missions{
      .mission:hover > .mission__text{
         background-color: $accent-color-light;
         border: 1px solid transparent;
      }
      .mission{
         overflow: hidden;
         cursor: pointer;
         box-sizing: border-box;
         margin-top: 15px;
         height: 100%;

         &__text{
            transition: .2s ease;
            border: $line;
            border-bottom-left-radius: $border-radius;
            border-bottom-right-radius: $border-radius;
            padding: 20px;
            .interventions{
               display: flex;
               flex-wrap: wrap;
               .intervention{
                  padding: 2px 7px;
                  border-radius: $border-radius;
                  background-color: $accent-color;
                  margin-right: 5px;
                  margin-top: 5px;
                  text-transform: uppercase;
                  font-size: .8rem;
               }
            }            
         }

         .image{
            background-color: $light-gray;
            border-top-left-radius: $border-radius;
            border-top-right-radius: $border-radius;
            height: 200px;
            width: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            // background-image: url("src/assets/media/header-img.jpg");
         }

         @media (min-width: $breakpoint-desktop) {
            width: calc((100% - 30px) / 3);
         }
      }

      @media (min-width: $breakpoint-desktop) {
         display: flex;
         flex-wrap: wrap;
         align-items: stretch;
         justify-content: space-between;
       }
   }
}