<app-main-page-base [title]="'MISSIONS.TITLE' | translate">
   <div *ngIf="missionsByYear.length" class="wrapper content">
      <div *ngFor="let year of missionsByYear" class="year">
         <h2>{{year.key}}</h2>
         <div class="missions">
            <div *ngFor="let mission of year.value" class="mission" [routerLink]="mission.id">
               <div class="image" [style.background-image]="'url(' + mission.mainImage + ')'"></div>
               <div class="mission__text">
                  <b>{{localize.localizeData(mission.name)}} - {{mission.country}}</b>
                  <div class="interventions">
                     <div class="intervention" *ngFor='let intervention of splitInterventions(mission.interventions)'>{{intervention}}</div>
                  </div>
               </div>
            </div>            
         </div>
      </div>
   </div>
</app-main-page-base>